
#switch1 {
	left:25em;
	top:18em;
}
#switch2 {
	left:25em;
	top:50em;
}
#server1 {
	left:45em;
	top:23em;
}
#server2 {
	left:5em;
	top:23em;
}
#server3 {
	left:25em;
	top:5em;
}
#db1 {
	left:5em;
	top:5em;
}
#db2 {
	left:45em;
	top:5em;
}
#gate1 {
	left:25em;
	top:29em;
}
#server4 {
	left:45em;
	top:50em;
}
#server5 {
	left:5em;
	top:50em;
}